@model IEnumerable<Votacion.Models.Entidades.Candidato>
@{
	ViewData["Title"] = "ListadoCandidato";
}

<link rel="stylesheet" href="/css/estilo_candidato.css">

@if (User.IsInRole("Administrador"))
{
	<div class="alert alert-success">
		<strong>Ok!!</strong> @TempData["AlertMessage"]
	</div>
	<p>Bienvenido Administrador: @ViewData["NombreUsuario"]</p>
	<p>
		<a onclick="showInPopup('@Url.Action("Crear", "Candidato", new { id = 0 })', 'Agregar un Candidato')" class="btn btn-sm btn-primary text-white">
			<i class="fa fa-plus-circle"></i> Agregar un Candidato
		</a>
	</p>


	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Lista de Candidatos</h5>
			</div>
			<div class="card-body">
				<table id="candidato" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<!--th de Imagen aprox-->
							<th scope="col">Nombre Completo</th>
							<th scope="col">Mensaje</th>
							<th scope="col">Estado</th>
							<th scope="col">Fecha de Registro</th>
							<th scope="col">Editar / Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdCandidato</th>
								<td>@Html.DisplayFor(modelItem => item.NombreCandidato)</td>
								<td>@Html.DisplayFor(modelItem => item.Mensaje)</td>
								<td>@Html.DisplayFor(modelItem => item.Activo)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
								<td>
									<a onclick="showInPopup('@Url.Action("Editar", "Candidato", new { id = item.IdCandidato })', 'Actualizar Candidato')" class="btn btn-outline-warning btn-sm">
										<i class="fa fa-pencil-alt"></i>
									</a>
									<button data-id="@item.IdCandidato" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>


}
else if (User.IsInRole("Usuario"))
{
	<p>Bienvenido Usuario: @ViewData["NombreUsuario"]</p>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Lista de Candidatos</h5>
			</div>
			<div class="card-body">
				<table id="candidato" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<!--th de Imagen aprox-->
							<th scope="col">Nombre Completo</th>
							<th scope="col">Mensaje</th>
							<th scope="col">Estado</th>
							<th scope="col">Fecha de Registro</th>
							<th scope="col">Editar / Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdCandidato</th>
								<td>@Html.DisplayFor(modelItem => item.NombreCandidato)</td>
								<td>@Html.DisplayFor(modelItem => item.Mensaje)</td>
								<td>@Html.DisplayFor(modelItem => item.Activo)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>								
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>


}

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@{
	Layout = "_LayoutListado";

}
@section Scripts {
	<script src="@Url.Content("~/js/showmodal.js")"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#Candidato').DataTable({
				"language": {
					"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
				},
			});
		});
	</script>

	<script>
		sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Candidato/Eliminar/', false);
	</script>
}
