@model IEnumerable<Votacion.Models.Entidades.Eleccion>

@{
    ViewData["Title"] = "ListadoEleccion";
}
<link rel="stylesheet" href="/css/estilo_usuario.css">

@if (User.IsInRole("Administrador"))
{
	<div class="alert alert-success">
		<strong>Ok!!</strong> @TempData["AlertMessage"]
	</div>
	<p>Bienvenido Administrador: @ViewData["NombreUsuario"]</p>
	<p>
		<a onclick="showInPopup('@Url.Action("Crear", "Eleccion", new { id = 0 })', 'Agregar una Eleccion')" class="btn btn-sm btn-primary text-white">
			<i class="fa fa-plus-circle"></i> Agregar una Eleccion
		</a>
	</p>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Elecciones</h5>
			</div>
			<div class="card-body">
				<table id="Eleccion" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Cargo</th>
							<th scope="col">Estado</th>
							<th scope="col">Fecha de Registro</th>
							<th scope="col">Editar / Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdEleccion</th>
								<td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
								<td>@Html.DisplayFor(modelItem => item.Cargo)</td>
								<td>@Html.DisplayFor(modelItem => item.Activo)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
								<td>
									<a onclick="showInPopup('@Url.Action("Editar", "Eleccion",
                                new { id = item.IdEleccion }, Context.Request.Scheme)' ,
                                  'Actualizar Eleccion')" class="btn btn-outline-warning btn-sm">
										<i class="fa fa-pencil-alt"></i>
									</a>
									<button data-id="@item.IdEleccion"
											class="btn btn-outline-danger btn-sm deleteItem"
											data-bs-toggle="modal" data-bs-target="#deleteDialog">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>


}
else if (User.IsInRole("Usuario"))
{
	<p>Bienvenido Usuario: @ViewData["NombreUsuario"]</p>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Elecciones</h5>
			</div>
			<div class="card-body">
				<table id="Eleccion" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Cargo</th>
							<th scope="col">Estado</th>
							<th scope="col">Fecha de Registro</th>
							<th scope="col">Editar / Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdEleccion</th>
								<td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
								<td>@Html.DisplayFor(modelItem => item.Cargo)</td>
								<td>@Html.DisplayFor(modelItem => item.Activo)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
								<td>
									<a onclick="showInPopup('@Url.Action("Editar", "Eleccion",
                                new { id = item.IdEleccion }, Context.Request.Scheme)' ,
                                  'Actualizar Eleccion')" class="btn btn-outline-warning btn-sm">
										<i class="fa fa-pencil-alt"></i>
									</a>
									<button data-id="@item.IdEleccion"
											class="btn btn-outline-danger btn-sm deleteItem"
											data-bs-toggle="modal" data-bs-target="#deleteDialog">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>



}

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@{
	Layout = "_LayoutListado";

}
@section Scripts {
	<script src="@Url.Content("~/js/showmodal.js")"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#Usuario').DataTable({
				"language": {
					"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
				},
			});
		});
	</script>

	<script>
		sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Usuario/Eliminar/', false);
	</script>
}
