@model IEnumerable<Votacion.Models.Entidades.Votante>

@{
	ViewData["Title"] = "ListadoVotante";
}
<link rel="stylesheet" href="/css/estilo_votante.css">

@if (User.IsInRole("1"))
{
	@if (string.IsNullOrEmpty(ViewBag.AlertMessage))
	{
		<div class="alert alert-success">
			<strong>Éxito:</strong> @ViewBag.AlertMessage
		</div>
	}


	<p>
		<a onclick="showInPopup('@Url.Action("Crear", "Votante", new { id = 0 })', 'Agregar un Votante')
    " class="btn btn-sm btn-primary text-white">
			<i class="fa fa-plus-circle"></i> Agregar un Votante
		</a>
	</p>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Lista de Votantes</h5>
			</div>
			<div class="card-body">
				<table id="Votante" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Documento de Identidad</th>
							<th scope="col">Nombre Completo</th>
							<th scope="col">Apellido Completo</th>
							<th scope="col">Fecha de Registro</th>
							<th>Editar / Eliminar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdVotante</th>
								<td>@Html.DisplayFor(modelItem => item.DocumentoIdentidad)</td>
								<td>@Html.DisplayFor(modelItem => item.NombreVotante)</td>
								<td>@Html.DisplayFor(modelItem => item.ApellidoVotante)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
@*								<td>@Html.DisplayFor(modelItem => item.IdEleccion)</td>
*@
								<td>
									<a onclick="showInPopup('@Url.Action("Editar", "Votante", new { id = item.IdVotante })', 'Actualizar Votante')"
									   class="btn btn-outline-warning btn-sm">
										<i class="fa fa-pencil-alt"></i>
									</a>
									<button data-id="@item.IdVotante" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

}
else if (User.IsInRole("2"))
{
	<p>Bienvenido Usuario: @ViewData["NombreUsuario"]</p>

	<p>
		<a onclick="showInPopup('@Url.Action("Crear", "Votante", new { id = 0 })', 'Agregar un Votante')
    " class="btn btn-sm btn-primary text-white">
			<i class="fa fa-plus-circle"></i> Ingrese sus Datos 
		</a>
	</p>

	<div class="col-md-12">
		<div class="card">
			<div class="card-header text-center">
				<h5>Lista de Votantes</h5>
			</div>
			<div class="card-body">
				<table id="Votante" class="table table-hover table-responsive table-stripped">
					<thead>
						<tr>
						     <th scope="col">#</th>
                            <th scope="col">Documento de Identidad</th>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Apellido Completo</th>
                            <th scope="col">Fecha de Registro</th>
                            <th scope="col">     Observación</th>

						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@item.IdVotante</th>
								<td>@Html.DisplayFor(modelItem => item.DocumentoIdentidad)</td>
								<td>@Html.DisplayFor(modelItem => item.NombreVotante)</td>
								<td>@Html.DisplayFor(modelItem => item.ApellidoVotante)</td>
								<td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
								<td>
									<button class="btn btn-link" onclick="mostrarObservacion('@item.IdVotante')" id="btnObservacion">Observación</button>
								</td>

							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>



	<!-- Formulario de Observación con cuadro de comentario más pequeño -->
	<div id="observacionForm" style="display: none; max-width: 300px; margin: auto; position: fixed; left: 0; top: 50%; transform: translateY(-50%);">
		<form id="comentarioForm">
			<!-- Agrega un campo oculto para almacenar la identificación del votante -->
			<input type="hidden" id="idVotanteObservacion" />

			<div class="form-group">
				<!-- Ajusta el tamaño del textarea -->
				<textarea  placeholder="Escriba su Observacion" class="form-control" id="observacion" name="observacion" rows="2"></textarea>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-sm btn-primary" onclick="enviarComentario()">Enviar</button>
				<button type="button" class="btn btn-sm btn-secondary" onclick="cancelarComentario()">Cancelar</button>
			</div>
		</form>
	</div>



}

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@{
	Layout = "_LayoutListado";
}
@section Scripts {
	<script src="@Url.Content("~/js/showmodal.js")"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#Votante').DataTable({
				"language": {
					"url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
				},
			});
		});
	</script>

	<script>
		sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Votante/Eliminar/', false);
	</script>



	<script>
		function mostrarObservacion(idVotante) {
			// Obtén el botón de observación por su ID
			var btnObservacion = document.getElementById('btnObservacion');

			// Obtén el formulario de observación por su ID
			var observacionForm = document.getElementById('observacionForm');

			// Asigna el ID del votante al campo oculto en el formulario
			document.getElementById('idVotanteObservacion').value = idVotante;

			// Muestra el formulario
			observacionForm.style.display = 'block';

			// Ajusta la posición del formulario debajo del botón de observación
			var rect = btnObservacion.getBoundingClientRect();
			observacionForm.style.left = rect.left + 'px';
			observacionForm.style.top = rect.bottom + 'px';
		}

		function cancelarComentario() {
			// Oculta el formulario al cancelar
			document.getElementById('observacionForm').style.display = 'none';
		}

		// Agrega la lógica de enviar comentario según tus necesidades
		function enviarComentario() {
			// Puedes implementar aquí la lógica para enviar el comentario
			// y luego ocultar el formulario
			cancelarComentario();
		}
	</script>

}
