@model IEnumerable<Votacion.Models.Entidades.Votante>

@{
    ViewData["Title"] = "ListadoVotante";
}

@if (TempData["AlertMessage"] != null)
{
        <div class="alert alert-success">
            <strong>Ok!!</strong> @TempData["AlertMessage"]
        </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Votante", new { id = 0 })', 'Agregar un Votante')
    " class="btn btn-sm btn-primary text-white">
        <i class="fa fa-plus-circle"></i> Agregar un Votante
    </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Lista de Votantes</h5>
        </div>
        <div class="card-body">
            <table id="Votante" class="table table-hover table-responsive table-stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Documento de Identidad</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Apellido Completo</th>
                        <th scope="col">Fecha de Registro</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Registrado Por</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <th scope="row">@item.IdVotante</th>
                                <td>@Html.DisplayFor(modelItem => item.DocumentoIdentidad)</td>
                                <td>@Html.DisplayFor(modelItem => item.NombreVotante)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApellidoVotante)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                                <td>@Html.DisplayFor(modelItem => item.Activo)</td>
                                <td>
                                    <a onclick="showInPopup('@Url.Action("Editar", "Votante", new { id = item.IdVotante })', 'Actualizar Votante')" 
                                    class="btn btn-outline-warning btn-sm">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                    <button data-id="@item.IdVotante" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {
        <script src="~/js/showmodal.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#Votante').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
            });
        </script>

        <script>
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Votante/Eliminar/', false);
        </script>
}
